<p-toast (onClose)="limparMensagem()" position="top-center"></p-toast>

<div class="container" *ngIf="operacao =='sigin'">

  <div class="box">
    <div class="flex">
      <div class="logo">
          <img src="assets/img/logo3.png" class="logo-img">
      </div>

      <div class="login">

        <div>
          <div class="form-group ">
            <span class="p-float-label">
              <input class="width" id="float-input" type="text" [(ngModel)]="signin.user" pInputText/>
              <label for="float-input">Usuário</label>
            </span>
          </div>
          
          <div class="form-group">
            <span class="p-float-label">
              <p-password class="width" id="float-input" [feedback]="false" [(ngModel)]="signin.password" [toggleMask]="true"></p-password> 
              <label for="float-input">Senha</label>
            </span>
          </div>
  
          <div class="form-group">
            <button style="width: 100%;" class="p-button-outlined p-button-success" (click)="verificaCamposLogin()" pButton type="button" icon="pi pi-check" iconPos="right" label="Entrar"></button>
          </div>
  
          <div class="form-group inscreva">
            <label (click)="inscreva()">Inscreva-se gratuitamente!</label>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</div>

<app-register
 *ngIf="operacao =='register'">
</app-register>

<app-menu
 *ngIf="operacao =='menu'">
</app-menu>