<p-toast (onClose)="limparMensagem()" position="top-center"></p-toast>

<div class="container" *ngIf="operacao =='menu'">
    <div class="row">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">

                <div>
                    <button 
                    pButton pRipple 
                    label="Novo" 
                    icon="pi pi-plus" 
                    class="p-button-success p-mr-2" 
                    (click)="abrirNovo()">
                </button>
                <button
                    style="margin-left: 5px;"
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-danger"
                    (click)="deletarTodosFilmes()"
                    [disabled]="!filmesSelecionado || !filmesSelecionado.length"
                ></button>
                </div>
               
                <ng-template pTemplate="left">
                    <span class="titleCinema">Filmes listados para {{nomeCinema}}</span> 
                </ng-template>

                <ng-template pTemplate="right">
                    <button 
                        pButton pRipple 
                        label="Voltar" 
                        icon="pi pi-plus" 
                        class="p-button-success p-mr-2" 
                        (click)="voltar()">
                    </button>
                </ng-template>

            </p-toolbar>
                        
            <p-table 
                #dt 
                [value]="filmes" 
                [rows]="10" 
                [paginator]="true" 
                [globalFilterFields]="[
                    'name',
                    'country.name',
                    'representative.name',
                    'status'
                ]"
                [(selection)]="filmesSelecionado" 
                [rowHover]="true" 
                dataKey="id"
                currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} entradas" 
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="tituloFilme">Titulo<p-sortIcon field="tituloFilme"></p-sortIcon></th>
                        <th pSortableColumn="sinopseFilme">Sinopse<p-sortIcon field="sinopseFilme"></p-sortIcon></th>
                        <th pSortableColumn="estreiaFilme">Data da Estreia<p-sortIcon field="estreiaFilme"></p-sortIcon></th>
                        <th pSortableColumn="duracaoFilme">Tempo de Duração<p-sortIcon field="duracaoFilme"></p-sortIcon></th>
                        <th pSortableColumn="generoFilme">Genero<p-sortIcon field="generoFilme"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-filmes>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="filmes"></p-tableCheckbox>
                        </td>
                        <td>{{filmes.tituloFilme}}</td>
                        <td>{{filmes.sinopseFilme}}</td>
                        <td>{{filmes.estreiaFilme}}</td>
                        <td>{{filmes.duracaoFilme}}</td>
                        <td>{{filmes.generoFilme}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarFilme(filmes, filmes.sessao)"></button>
                                <button style="margin-left: 8px;" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletarFilme(filmes)"></button>    
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        No total existem {{filmes ? filmes.length : 0 }} filmes.
                    </div>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="indPodeHabilitarDialogMenu" [style]="{width: '70vw'}" header="Detalhes do Filme" [modal]="true" styleClass="p-fluid">
    
    <ng-template pTemplate="content">

        <div class="col-lg-4 box-comp mt-2">
            <span class="p-float-label">
              <input class="width" type="text" [(ngModel)]="filme.tituloFilme" id="inputtext" pInputText> 
              <label class="width" for="inputtext">Titulo do Filme</label>
            </span>
        </div>

        <div class="col-lg-4 box-comp mt-2">
            <span class="p-float-label">
              <input class="width" type="text" [(ngModel)]="filme.sinopseFilme" id="inputtext" pInputText> 
              <label class="width" for="inputtext">Sinopse</label>
            </span>
        </div>

        <div class="col-lg-4 box-comp mt-2">
            <span class="p-float-label">
              <p-calendar inputId="basic" [(ngModel)]="filme.estreiaFilme" dateFormat="dd.mm.yy"></p-calendar>
              <label class="width" for="inputtext">Data da Estreia</label>
            </span>
        </div>

        <div class="col-lg-4 box-comp">
            <span class="p-float-label">
              <p-dropdown 
                class="width" 
                [options]="listaGeneroFilme" 
                [(ngModel)]="valorGeneroFilme" 
                (onChange)="selecionarFilme()"
                optionLabel="name" 
                [showClear]="true" 
                [filter]="true"
                filterBy="name"
                filterPlaceholder="Pesquisar..."
                emptyFilterMessage="Nenhum registro encontrado"
                [autoDisplayFirst]="false">
              </p-dropdown>
              <label class="width" for="inputtext">Genero</label>
            </span>
        </div>

        <div class="col-lg-4 box-comp">
            <span class="p-float-label">
              <p-inputNumber 
                class="width" autocomplete="off" 
                [(ngModel)]="valorClassificacao" 
                (ngModelChange)="selecionarClassificacao()"
                inputId="inputnumber">
              </p-inputNumber>
              <label class="width" for="inputnumber">Classificação Indicativa </label>
            </span>
        </div>

        <div class="col-lg-4 box-comp">
            <span class="p-float-label">
                <p-inputMask
                    class="width"
                    inputId="inputmask"
                    mask="99:99"
                    [(ngModel)]="filme.duracaoFilme"
                    ></p-inputMask>
                <label label class="width" for="inputnumber">Duração do Filme</label>
            </span>
        </div>

        <div class="card">
            <h5>Sessões do Filme</h5>
                <p-table [value]="sessao" dataKey="id" editMode="row">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nome da Sala</th>
                            <th>Dublado</th>
                            <th>3D</th>
                            <th>Horarios</th>
                            <th style="width:8rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sessao let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="sessao">
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="sessao.nome">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{sessao.nome}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="listaSimNao" [(ngModel)]="sessao.dublado" [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{sessao.dublado}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown [options]="listaSimNao" [(ngModel)]="sessao.dimensionamento" [style]="{'width':'100%'}"></p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{sessao.dimensionamento}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="sessao.horario">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{sessao.horario}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(sessao)" class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(sessao)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(sessao, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="salvarFilme()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" [baseZIndex]="10000"></p-confirmDialog>

<app-signin
 *ngIf="operacao =='sigin'">
</app-signin>