body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #590a0a;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.col-lg-4{
  width: 17% !important; 
  padding: 1rem;
}

.box-comp {
  float: left;
  width: 100%;
  position: relative;
}


.titleCinema{
  display: flex;
  width: auto;
  height: 10vh;
  margin-left: 2vw;
  padding: 1rem;
  font-size: 24px;
  color: #000000;
  align-items: center;
}

.width{
  display: grid;
  width: 100% !important; 
}