.row{
    background-color: #ffffff;
    width: 90vw !important;
    margin-top: 10vh!important;
    border-radius: 5px;
}

.col-lg-4{
    width: 17% !important; 
    padding: 1rem;
}
  
.box-comp {
    float: left;
    width: 100%;
    position: relative;
}